ENVIRONMENT=local # local or production

SERVER_IP_ADDRESS=192.168.0.129 # You local/server IP address check using ifconfig en0 inet| grep 'inet '|awk '{print $2}'
SERVER_HOSTNAME=localhost # Your local/server hostname

MQTT_HOST=emqx
MQTT_USER=docker
MQTT_PASSWORD=10WAZ$4x01pn
MQTT_TOPIC_NAME=raspberrypi
NEXT_MESSAGE_MAX_WAIT_TIME=300

CANDIDATE=${SERVER_IP_ADDRESS}
OSSRS_HOST=${CANDIDATE}
SRS_HTTP_API_AUTH_ENABLED=on
SRS_HTTP_API_AUTH_USERNAME=admin
SRS_HTTP_API_AUTH_PASSWORD=123456
SRS_VHOST_HTTP_HOOKS_ENABLED=on
SRS_VHOST_HTTP_HOOKS_ON_PUBLISH=http://server:3000/authorization/stream

SERVER_PORT=3000
WEBSOCKET_HOST=${SERVER_HOSTNAME}
WEBSOCKET_PORT=${SERVER_PORT}
WEBSOCKET_CORS_ORIGIN=http://${SERVER_HOSTNAME}:5173
